# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.ipynb_checkpoints/
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.venv/
venv/
ENV/

# Databases & Vector DBs (Chroma)
data/chroma_db_baseline/
data/chroma_db_uadc/
data/chat_history.db
chroma_db_baseline/
chroma_db_uadc/
chroma_db/
chat_history.db
*.db
*.sqlite3

# Datasets & Large Files
data/*.csv
data/*.json
*.csv
*.json
!package.json
!package-lock.json

!data/wisata-toba-unified-final.csv
!data/eval_ground_truths.json
!data/eval_pipeline_b.json
!data/referensi_tempat_wisata.json
!data_eval.json

# Logs and Debug outputs
logs/
*.log
*.txt
!requirements.txt

# Node / React Frontend
frontend/node_modules/
frontend/dist/
frontend/build/
.npm/

# OS Files
.DS_Store
Thumbs.db
ollama

# Thesis Knowledge Base
info-source/
docs/
!docs/eval_dataset_queries.md
